$gold: hsl(45, 100%, 48%);
$gold-light: hsl(45, 100%, 70%);
$gold-lighter: hsl(45, 100%, 90%);
$gold-lightest: hsl(45, 100%, 95%);
$gold-dark: hsl(45, 100%, 42%);
$gold-darker: hsl(45, 88%, 36%);
$gold-darkest: hsl(45, 82%, 33%);
$blue: #001FAB;
$green-dark: hsl(120, 100%, 9%);
$green: hsl(120, 95%, 18%);
$green-light: hsl(120, 85%, 27%);
$black: #161616;
