#player-picker-form {
  display: grid;
  margin: 24px auto;
  gap: 12px;
  justify-items: left;

  .player-picker-form-field {
    display: grid;
    align-items: baseline;
    gap: 4px;
    grid-template-columns: repeat(2, 1fr auto);

    @media (max-width: 640px) {
      grid-template-columns: repeat(1, 1fr auto);
    }

    &#player-count-field {
      grid-template-columns: 1fr auto 1fr;
    }
  }

  .player-picker-label {
    justify-self: left;
    white-space: nowrap;
  }

  .player-form-input {
    padding: 4px;
    border: 1px solid var(--color-primary);
    font-size: 1em;
    outline-color: var(--color-primary);
  }

  #player-count {
    min-width: 24px;
    padding: 4px;
    border: 1px solid var(--color-primary);
    margin: 0 8px;
    border-radius: 4px;
    font-size: 1em;
    outline-color: var(--color-primary);

    * ::selection {
      background-color: var(--color-primary-lightest);
    }
  }
}
