
#source-config-form {
  display: flex;
  flex-direction: column;

  #source-config-label {
    padding: 0.5em 0;
  }

  .source-config-btn {
    margin: 4px;
  }

  // #source-config-btn-server {

  // }

  // #source-config-btn-client {

  // }
}
