@import '../../style/colors.scss';

.score-table {
  display: grid;
  background-color: transparent;
  color: white;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  pointer-events: none;

  .player-column {
    margin: 8px;

    &.current {
      background-color: mix($gold, transparent, 20);
      border-radius: 2px;
    }

    .name {
      font-size: 20px;
    }

    .score {
      font-size: 18px;
    }
  }
}
