@import '../../style/mixins';

.gameButton {
  @include elevation(1);

  position: relative;
  min-width: 96px;
  height: 48px;
  border: 4px ridge var(--color-primary);
  background-color: var(--color-primary);
  border-radius: 12px;
  cursor: pointer;
  font-family: inherit;
  font-size: 20px;
  font-weight: bold;
  pointer-events: all;

  &:hover {
    filter: brightness(90%);
  }

  &.small {
    min-width: 72px;
    height: 32px;
    border-radius: 8px;
    font-size: 16px;
  }

  // &.tooltip:hover::after {
  //   @include elevation(8);
    
  //   position: absolute;
  //   top: calc(100% + 1em);
  //   right: 0;
  //   width: clamp(50%, 12ch, 200%);
  //   padding: 0.5em;
  //   background: white;
  //   border-radius: 4px;
  //   content: attr(data-tooltip);
  //   font-size: 0.8rem;
  // }

  &.disabled {
    border: 4px ridge var(--color-primary-light);
    background-color: var(--color-primary-light);
    cursor: not-allowed;
    pointer-events: none;

    &.hover {
      filter: brightness(100%);
    }
  }
}
