/* your css code */

.game-chrome > * {
  position: absolute;
  width: 100%;
  pointer-events: none;
}

.turn-status {
  bottom: 64px;
}

.game-buttons {
  bottom: 24px;

  &.centered {
    bottom: 50%;
    transform: translateY(50%) scale(1.5);
  }
}
