@import '../../style/vh.scss';
$vertical-margin: 32px;
$padding: calc(min(4vw, 48px));

.intro-container {
  display: flex;
  width: 100vw;
  height: vh(100);
  place-items: center;
}

.game-intro {
  width: 80%;
  max-width: 720px;
  height: auto;
  max-height: calc(#{vh(100)} - 2 * #{$vertical-margin});
  box-sizing: border-box;
  padding: $padding;
  border: 8px ridge var(--color-primary-light);
  margin: $vertical-margin auto;
  background-color: var(--color-primary-light);
  border-radius: 8px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.33);
  overflow-y: scroll;

  & > * {
    padding: 0 $padding;
  }

  .title {
    margin: 8px auto;
    font-family: var(--font-header);
    font-size: calc(min(12vw, 64px));
    text-align: center;
  }

  #player-picker-form {
    display: grid;
    margin: 24px auto;
    gap: 8px;
    justify-items: left;

    .player-picker-form-field {
      display: inline-block;
    }

    .player-form-input {
      padding: 4px;
      border: 1px solid var(--color-primary);
      margin: 0 8px;
      font-size: 1em;
      outline-color: var(--color-primary);
    }

    #player-count {
      padding: 4px;
      border: 1px solid var(--color-primary);
      margin: 0 8px;
      border-radius: 4px;
      font-size: 1em;
      outline-color: var(--color-primary);

      * ::selection {
        background-color: var(--color-primary-light);
      }
    }
  }

  .toggle-instructions-button {
    padding: 0.25em 0;
    border: none;
    margin: 1em 0;
    background-color: transparent;
    font-size: 12px;
    outline-color: var(--color-primary);
    text-decoration: underline;
  }

  .instructions {
    // padding-bottom: $padding;
  }
}
