@import '../../style/vh';
@import '../../style/mixins';
@import '../../style/colors';

$vertical-margin: 32px;
$padding: calc(min(4vw, 48px));
$max-width: 576px;

.intro-container {
  display: flex;
  width: 100vw;
  height: vh(100);
  place-items: center;
}

.game-intro {
  @include CornerToCornerGradient($gold-lightest, $gold-lighter);
  // @include verticalGradient($gold-lightest, $gold-lighter, 100%);

  width: 80%;
  max-width: $max-width;
  height: auto;
  max-height: calc(#{vh(100)} - 2 * #{$vertical-margin});
  box-sizing: border-box;
  padding: $padding;
  border: 8px ridge var(--color-primary-lightest);
  margin: $vertical-margin auto;
  // background-color: var(--color-primary-lightest);
  border-radius: 8px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.33);
  overflow-y: scroll;

  & > * {
    padding: 0 $padding;
  }

  .title {
    margin: 8px auto;
    font-family: var(--font-header);
    font-size: calc(min(12vw, 64px));
    text-align: center;
  }

  .toggle-instructions-button {
    padding: 0.25em 0;
    border: none;
    margin: 1em 0;
    background-color: transparent;
    font-size: 12px;
    outline-color: var(--color-primary);
    text-decoration: underline;
  }

  .instructions {
    // padding-bottom: $padding;
  }
}
