@import './style/global.scss';

body {
  margin: 0;
  background-color: $green;
}

.App {
  font-family: var(--font-body);
  text-align: center;
}

.game-chrome {
  position: absolute;
  bottom: 24px;
  width: 100%;
  pointer-events: visiblePainted;
}

.score-table {
  width: 100%;
}

.log-button {
  position: absolute;
  right: 16px;
  bottom: 16px;
}
