@import './style/global.scss';
@import './style/mixins.scss';
@import './style/vh.scss';

body {
  --vh: 1vh;

  @include CornerToCornerGradient($green, $green-dark);

  background-color: $green;
}

.App {
  height: vh(100);
  max-height: vh(100);
  font-family: var(--font-body);
  text-align: center;
}

.game-chrome {
  position: absolute;
  bottom: 24px;
  width: 100%;
  pointer-events: none;
}

.score-table {
  width: 100%;
}

.log-button {
  position: absolute;
  right: 16px;
  bottom: 16px;
}
